language: node_js
node_js:
  - "0.10"
  - "0.12"
  - "4.0"
os:
  - linux
  - osx
matrix:
  include:
    - os: linux
    - osx_image: xcode10
  exclude:
    - os: osx
      node_js: "0.12"
after_script: istanbul cover ./node_modules/mocha/bin/_mocha --report lcovonly -- -R spec && cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js && rm -rf ./coverage
install:
  - if [[ $TRAVIS_OS_NAME == "linux" ]]; then export CXX=g++-4.8; fi
  - npm install -g istanbul
  - npm install
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - gcc-4.8
      - g++-4.8
      - clang
